header{
    border: solid 1px;
    height: 85px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-bottom: 20px;
}
nav{
    display:flex;
    border:1px solid;
    height: 40px;
    align-items: center;
    justify-content: center;
    margin-bottom:20px;
}
.container{
    border: 0px solid;
    display: flex;
    justify-content: space-between;
}
.big{
    display:flex;
    border:1px solid;
    height:300px;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
section{
    display:flex;
    border:1px solid;
    height:90px;
    width:48%;
    align-items: center;
    justify-content: center;
}
footer{
    border: solid 1px;
    height: 85px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 20px;
}